# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
*.env
.env.*

# Flask instance folder (contains runtime files)
instance/
*.db
*.sqlite3

# Logs
*.log

# IDE settings
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
